.sider {
    background-color: white;
}

.title {
    color: white;
    text-align: left;
}

.header {
    text-align: left;
    color: white;
}

.siteLayoutContent {
    min-height: 480px;
    padding: 24px;
    background: #fff;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.dashboard {
    text-align: left;
}

.nav-text {
    color: black;
}

.footer{
    text-align: center;
}
.content{
    padding: 0 50px;
}

.title{
    color: black;
    text-align: center;
}

.header{
    padding:0;
    background: #fff;
}