.sidebar {
    height: 100vh;
    margin-right: 24px;
    background-color: var(--sidebar-bg-color);
    width: var(--sidebar-width);
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 9999999;
}

.sider a:hover,
.sider a:active,
.side a.active{
    color :aliceblue;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
}

.textColor{
    color: black;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    width: var(--sidebar-width);
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 9999999;
  }
  
  .sidebar .close-aside {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #eee;
  }
  
  .sidebar .sidebar-header {
    border-bottom: 1px solid #2a2b3c;
  }
  
  .sidebar .sidebar-header h5 a {
    color: var(--dk-gray-300);
  }
  
  .sidebar .sidebar-header p {
    color: var(--dk-gray-400);
    font-size: 0.825rem;
  }
  
  .sidebar .search .form-control ~ i {
    color: #2b2f3a;
    right: 40px;
    top: 22px;
  }
  
  .sidebar > ul > li {
    padding: 0.7rem 1.75rem;
  }
  
  .sidebar ul > li > a {
    color: var(--dk-gray-400);
    text-decoration: none;
  }
  
  /* Start numbers */
  .sidebar ul > li > a > .num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    padding: 0px 5px;
  }
  
  .sidebar ul > li > i {
    font-size: 18px;
    margin-right: 0.7rem;
    color: var(--dk-gray-500);
  }
  
  .sidebar ul > li.has-dropdown > a:after {
    content: "\eb3a";
    font-family: unicons-line;
    font-size: 1rem;
    line-height: 1.8;
    float: right;
    color: var(--dk-gray-500);
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar ul .opened > a:after {
    transform: rotate(-90deg);
  }
  
  /* Start dropdown menu */
  .sidebar ul .sidebar-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    display: none;
  }
  .sidebar ul .sidebar-dropdown.active {
    display: block;
  }
  
  .sidebar ul .sidebar-dropdown > li > a {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    display: block;
  }
  /* End dropdown menu */
  
  .show-sidebar {
    transform: translateX(-270px);
  }
  
  @media (max-width: 767px) {
    .sidebar ul > li {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  
.search {
      padding: 10px 0 10px 30px;
      /* position-relative text-center px-4 py-3 mt-2 */
      position: relative;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      margin-top: 0.5rem; 
    }
  }
  .ptitle{
    font-size: 1rem;
    line-height: 1.5rem;
   margin-bottom: .0rem;
   text-decoration: none;
  }
  img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
  }
  .profiletitle{
      margin-top: 30px;
      margin-bottom: 0px;
      text-align: center;
      margin-left: 70px;
      text-decoration: blue;
  }
  .sideheader{
      display:flex;
      justify-content:center ;
      align-items: center;
      padding-left: 8rem;
      padding-right: 8rem; 
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
  }

  .dashboardmenu{
    background-color: #F0F2F5;
    box-shadow: burlywood;
  }
  .form-control{
    width: 100px;
    border: 0px;
    background-color: transparent;
    margin-left: 50px;
  }