
h2, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

h2, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #13100F;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul, li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

body {
   margin: 0;
   width: 100vw;
   min-height: 450px;
   height: 100vh;
   align-items: center;
   justify-content: center;
  
}

.cardContainer {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin: 4px;
  perspective: 1000px;
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
}
.card:hover {
  transform: translateZ(0px);
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
}
.card .front {
  z-index: 2;
}
.card .back {
  transform: rotateY(180deg);
}
.card .info {
  padding: 16px;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
.front .img1 {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/23/18/12/bag-1854148_960_720.jpg);
}
.front .img2 {
  background-image: url(https://cdn.pixabay.com/photo/2018/02/08/11/10/personal-3139194_960_720.jpg);
}
.front .img3 {
  background-image: url(https://cdn.pixabay.com/photo/2018/03/10/12/00/teamwork-3213924_960_720.jpg);
}
.front .img4{
  background-image: url(https://cdn.pixabay.com/photo/2018/03/20/09/53/nature-3242686_960_720.jpg)
}

.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  //margin-bottom: 18px;
}

.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
  margin-bottom:3px;

}
.back .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8EFBA;
  background-image: linear-gradient(-90deg, #F8EFBA, #F8EFBA);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn:hover h4 {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}

.contentheading{
  padding: 1rem;
}
.content{
  padding:0.75rem;
  border-radius: 0.25rem;
}
.welcome{
  font-size: larger;
}
.hello{
  margin-bottom: 0px;
}