.App {
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    background-color: #2f4050;
    height: 40px;
}

header svg {
    font-size: 80px;
    color: white;
    display: block;
}

.sidebar {
    height: 90%;
    width: 240px;
    background-color: #2f4050;
    position: absolute;
    padding: 0 30px;
    left: -100%;
    transition: all 1s;
}

.sidebar.active {
    left: 0;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebarList .siderow {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sidebarList .siderow:hover {
    cursor: pointer;
    background-color: #293846;
}

.sidebarList #active {
    background-color: #293846;
}

.siderow #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.siderow #title {
    flex: 70%;
}

.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.title {
    color: white;
    text-align: left;
    position: absolute;
    right: 0px;
    padding-right: 30px;
}

